@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area for additional information. Imran edited this file.</p>
<p>Use this area for additional informations too.</p>

<p>Use this area for additional information.</p>
<p>Use this area for additional informations too.</p>